{?set jieqi_blocks_module = "article"?}
{?set jieqi_blocks_config = "authorblocks"?}
<table class="grid" width="100%">
<caption>写作说明</caption>
<tr><td style="padding:10px;font-size:14px;">
<strong>一、发表新作品</strong><br />
　　点击左边的“发表小说”，输出作品名称、类别、简介等信息提交。
<br /><br />
<strong>二、增加章节</strong><br />
　　点击左边的“管理作品”，显示您创作的作品列表，选择对应左边右边的“更新”链接来增加章节。
<br /><br />
<strong>三、作品修改</strong><br />
　　点击左边的“管理作品”，显示您创作的作品列表，选择对应左边右边的“管理”链接进入本作品的管理页面。这里包括了作品信息修改已经章节内容修改、删除、排序等功能。
<br /><br />
<strong>四、草稿功能</strong><br />
　　对已有作品的章节更新，在章节内容未确定时候可以先保存成草稿。点左边“新建草稿”可建立一个章节的草稿，点“管理草稿”则允许把草稿章节发布成正式章节，或者删除草稿内容。
<br /><br />

</td></tr>
</table>