{?set $jieqi_pagetitle = "{$sort}-{$jieqi_sitename}"?}
{?set $meta_keywords = "{$sort} {$jieqi_sitename}"?}
<div class="main row">
	<div class="col4">
		<div class="blockc">
		{?$jieqi_pageblocks['111']['content']?}
		</div>
	</div>

	<div class="col5">
		<div class="block">
			<div class="blocktitle">本站公告</div>
			<div class="blockcontent">{?$jieqi_pageblocks['121']['content']?}</div>
		</div>
		<div class="block">
			<div class="blocktitle">封面推荐</div>
			<div class="blockcontent">{?$jieqi_pageblocks['122']['content']?}</div>
		</div>
	</div>

	<div class="col3 last">
		<div class="block">
			<div class="blocktitle">收藏榜</div>
			<div class="blockcontent">{?$jieqi_pageblocks['131']['content']?}</div>
		</div>
		<div class="block">
			<div class="blocktitle">字数榜</div>
			<div class="blockcontent">{?$jieqi_pageblocks['132']['content']?}</div>
		</div>
	</div>
</div>

<div class="main">
	{?$jieqi_pageblocks['200']['content']?}
</div>

<div class="main row">
	<div class="col3">
		<div class="block">
			<div class="blocktitle"><em>点击榜</em>
				<ul>
				<li><a href="javascript:void(0)" onmouseover="selecttab(this);" class="selected">周</a></li>
				<li><a href="javascript:void(0)" onmouseover="selecttab(this);">月</a></li>
				<li><a href="javascript:void(0)" onmouseover="selecttab(this);">总</a></li>
				</ul>
			</div>
			<div class="blockcontent">
				<div>{?$jieqi_pageblocks['311']['content']?}</div>
				<div style="display:none;">{?$jieqi_pageblocks['312']['content']?}</div>
				<div style="display:none;">{?$jieqi_pageblocks['313']['content']?}</div>
			</div>
		</div>
	</div>

	<div class="col6">
		<div class="block">
			<div class="blocktitle">最近更新</div>
			<div class="blockcontent">{?$jieqi_pageblocks['321']['content']?}</div>
		</div>
	</div>

	<div class="col3 last">
		<div class="block">
			<div class="blocktitle"><em>推荐榜</em>
				<ul>
				<li><a href="javascript:void(0)" onmouseover="selecttab(this)" class="selected">周</a></li>
				<li><a href="javascript:void(0)" onmouseover="selecttab(this)">月</a></li>
				<li><a href="javascript:void(0)" onmouseover="selecttab(this)">总</a></li>
				</ul>
			</div>
			<div class="blockcontent">
				<div>{?$jieqi_pageblocks['331']['content']?}</div>
				<div style="display:none;">{?$jieqi_pageblocks['332']['content']?}</div>
				<div style="display:none;">{?$jieqi_pageblocks['333']['content']?}</div>
			</div>
		</div>
	</div>
</div>