<ul class="ultab">
<li><a href="/modules/article/bookcase.php" class="selected"><i class="iconfont">&#xee43;</i>我的书架</a></li><li><a href="/modules/article/myreviews.php"><i class="iconfont">&#xee4c;</i>我的书评</a></li><li><a href="/modules/obook/buylist.php"><i class="iconfont">&#xee45;</i>我的订阅</a></li><li><a href="/modules/article/myactlog.php?act=tip"><i class="iconfont">&#xee3f;</i>打赏记录</a></li><li><a href="/modules/pay/paylog.php"><i class="iconfont">&#xee41;</i>充值记录</a></li>
<li><a href="/myfriends.php"><i class="iconfont">&#xee23;</i>我的好友</a></li>
<li><a href="/myptopics.php"><i class="iconfont">&#xee3a;</i>我的留言</a></li>
</ul>