{?set $jieqi_pagetitle = "{$author}的作品-{$jieqi_sitename}"?}
{?set $jieqi_contenttitle = "作家作品"?}
{?set jieqi_page_rows = "20"?}

<div class="blockb">
<div class="blocktitle">“{?$author?}” 的作品</div>
<div class="blockcontent" id="jieqi_page_contents">
	{?section name=i loop=$articlerows?}
	<div class="c_row cf">
	<a class="db cf" href="{?$articlerows[i].url_articleinfo?}">
	<div class="row_cover">
	<img class="cover_m" src="{?$articlerows[i].url_simage?}" />
	</div>

	<div class="row_text">
	<h4>{?$articlerows[i].articlename?}</h4>
    <p class="gray">{?$articlerows[i].sort?} | {?$articlerows[i].author?}<br />{?$articlerows[i].intro|truncate:76:'..'?}</p>
	</div>
	</a>
	</div>
	{?/section?}
</div>
</div>

<div class="pages">{?$url_jumppage?}</div>