{?set jieqi_blocks_module = "article"?}
{?set jieqi_blocks_config = "authorblocks"?}
{?set jieqi_page_rows = "30"?}
<form action="{?$url_article?}" method="post" name="checkform" id="checkform">
<ul class="ultab">
	<li><a href="{?$jieqi_modules['article']['url']?}/votemanage.php"{?if $_request['display'] == 'all' || $_request['display'] == ''?} class="selected"{?/if?}>全部小说</a></li>
	<li><a href="{?$jieqi_modules['article']['url']?}/votemanage.php?display=author"{?if $_request['display'] == 'author'?} class="selected"{?/if?}>原创小说</a></li>
	<li><a href="{?$jieqi_modules['article']['url']?}/votemanage.php?display=poster"{?if $_request['display'] == 'poster'?} class="selected"{?/if?}>转载小说</a></li>
	<li><a href="{?$jieqi_modules['article']['url']?}/votemanage.php?display=agent"{?if $_request['display'] == 'agent'?} class="selected"{?/if?}>代管小说</a></li>
</ul>
<table class="grid" width="100%" align="center">
  <tr align="center">
    <th width="30%">小说名称</th>
    <th width="35%">最新章节</th>
    <th width="35%">更新</th>
  </tr>
  <tbody id="jieqi_page_contents">
  {?section name=i loop=$articlerows?}
  <tr>
    <td><a href="{?$articlerows[i].url_articleinfo?}" target="_blank" title="作者：{?$articlerows[i].author?}">{?$articlerows[i].articlename?}</a></td>
    <td>
	{?if $articlerows[i].vipchapterid > 0?}
	<a href="{?$articlerows[i].url_articleindex?}" target="_blank">{?$articlerows[i].vipvolume?} {?$articlerows[i].vipchapter?}</a> <em class="hot">vip</em>
	{?else?}
	<a href="{?$articlerows[i].url_articleindex?}" target="_blank">{?$articlerows[i].lastvolume?} {?$articlerows[i].lastchapter?}</a>
	{?/if?}
	</td>
    <td align="center">
	    <a href="{?$article_static_url?}/votenew.php?aid={?$articlerows[i].articleid?}">新建投票</a> | 
	    <a href="{?$article_static_url?}/votearticle.php?id={?$articlerows[i].articleid?}">管理投票</a> | 
		<a href="{?$article_static_url?}/articlemanage.php?id={?$articlerows[i].articleid?}">管理章节</a>
	</td>
  </tr>
  {?/section?}
  </tbody>
</table>
</form>
<div class="pages">{?$url_jumppage?}</div>

