{?set $jieqi_pagetitle = "登录-{$jieqi_sitename}"?}
{?set $jieqi_contenttitle = "登录"?}
{?if $jieqi_browser == 'weixin'?}
<div id="login_wxmp" style="margin:2em auto;text-align:center;">
	正在登录...
</div>
<script type="text/javascript">
window.location.href ='{?$jieqi_url?}/api/wxmp/login.php{?$jumpquery?}';
</script>
{?else?}
<form class="form cf" name="frmlogin" method="post" action="{?$url_login?}">
	<fieldset>
		<div class="frow">
			<label class="col4 flabel">用户名：</label>
			<div class="col8 last">
				<input type="text" class="text" maxlength="30" name="username" onKeyPress="javascript: if (event.keyCode == 32 || event.which == 32) return false;">
			</div>
		</div>

		<div class="frow">
			<label class="col4 flabel">密　码：</label>
			<div class="col8 last">
			<input type="password" class="text" maxlength="30" name="password">
			</div>
		</div>
		{?if $show_checkcode == 1?}
		<div class="frow">
			<label class="col4 flabel">验证码：</label>
			<div class="col8 last">
			<input type="text" class="text" style="width:6em;" name="checkcode" id="checkcode" onfocus="if(this.form.imgccode.style.display == 'none'){this.form.imgccode.src = '{?$jieqi_url?}/checkcode.php?rand={?$jieqi_time?}';this.form.imgccode.style.display = '';}" title="点击显示验证码"><img name="imgccode" src="" style="cursor:pointer;vertical-align:middle;margin-left:3px;display:none;" onclick="this.src='{?$jieqi_url?}/checkcode.php?rand='+Math.random();" title="点击刷新验证码">
			</div>
		</div>
		{?/if?}

		<div class="frow">
			<label class="col4 flabel"><input type="hidden" name="act" value="login"/><input type="hidden" name="usecookie" value="2592000"/></label>
			<div class="col8 last">
			<button type="submit" class="button" name="submit">登　录</button>
			</div>
		</div>

		{?if $jieqi_api_sites['qq']['publish'] > 0 || $jieqi_api_sites['weibo']['publish'] > 0?}
		<div class="frow">
			<label class="col4 flabel">&nbsp;</label>
			<div class="col8 last">
			<ul id="other_login">
				<li>【其它账号登录】</li>
				{?if $jieqi_api_sites['qq']['publish'] > 0?}<li><a href="{?$jieqi_url?}/api/qq/login.php{?$jumpquery?}"><img src="{?$jieqi_url?}/images/api/qq_login.gif" alt="用QQ账号登录" border="0"></a></li>{?/if?}
				{?if $jieqi_api_sites['weibo']['publish'] > 0?}<li><a href="{?$jieqi_url?}/api/weibo/login.php{?$jumpquery?}"><img src="{?$jieqi_url?}/images/api/weibo_login.gif" alt="用新浪微博账号登录" border="0"></a></li>{?/if?}
			</ul>
			</div>
		</div>
		{?/if?}

		<div class="frow foot">
			<a href="{?$url_register?}">注册账号</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="{?$url_getpass?}">忘记密码？</a>
		</div>
	</fieldset>
</form>
{?if $jieqi_api_sites['weixin']['publish'] > 0?}
<script type="text/javascript">
if(navigator.userAgent.toLowerCase().match(/MicroMessenger/i) == 'micromessenger'){
	var wxmp = document.createElement('li');
	wxmp.innerHTML = '<a href="{?$jieqi_url?}/api/wxmp/login.php{?$jumpquery?}"><img src="{?$jieqi_url?}/images/api/weixin_login.gif" alt="用微信账号登录" border="0"></a>';
	document.getElementById('other_login').appendChild(wxmp);
}
</script>
{?/if?}
{?/if?}