{?set $jieqi_pagetitle = "支付宝充值-{$jieqi_sitename}"?}
{?set $jieqi_contenttitle = "支付宝充值"?}

<div class="blockb">
<div class="blockcontent">
	<form name="frmpay" method="post" action="{?$jieqi_modules['pay']['url']?}/aliwap.php">
	<div class="checkgroup cf">
		{?section name=i loop=$payset['paylimit']?}
		<label class="radio"><input type="radio" name="egold" value="{?$i['key']?}" {?if $payset['paydefault'] == $i['key']?} checked="checked"{?/if?}><span> {?$i['key']?}&nbsp;&nbsp;{?$egoldname?}（{?$payset['paylimit'][i]?}元）</span></label>
		{?/section?}
		{?if $payset['paycustom']['open'] > 0?}<label class="radio"><input type="radio" name="egold" id="egold0" value="0" {?if $payset['paydefault'] == 0?} checked="checked"{?/if?}><span> <input type="text" class="text" name="money" value="" style="position:static;width:6em;" onfocus="document.getElementById('egold0').checked = 'checked';" /> 元{?if $payset['paycustom']['min'] > 0?}（最少 {?$payset['paycustom']['min']?} 元）{?/if?}</span></label>{?/if?}
	</div>
	<button type="submit" name="Submit" class="button">进入下一步</button>
    <input type="hidden" name="act" value="pay" />{?$jieqi_token_input?}
	<input type="hidden" name="jumpurl" value="{?$jumpurl?}" />
	</form>
</div>
</div>

<div class="textbox">
<strong>说明：</strong><br />
支付宝充值，兑换比例：<span class="hot">1</span>元=<span class="hot">100</span>{?$egoldname?}<br />

</div>