{?set jieqi_blocks_module = "pay"?}
{?set jieqi_blocks_config = "payblocks"?}
{?set $jieqi_pagetitle = "微信扫码充值-{$jieqi_sitename}"?}

{?block bid="0" blockname="充值导航" module="pay" filename="" classname="BlockSystemCustom" side="-1" title="" vars="" template="block_paylist_tab.html" contenttype="4" custom="1" publish="3" hasvars="0"?}

<form name="frmpay" method="post" action="{?$jieqi_modules['pay']['url']?}/ipn.php">
<table class="grid" width="100%" align="center">
  <caption>微信扫码充值</caption>
  <tr>
    <td style="font-size:14px;line-height:200%;padding:20px;">
	<strong>请选择您要的充值金额：</strong><br />
	<div style="width:100%;clear:both;margin-bottom:10px;">
	<ul>
		{?section name=i loop=$payset['paylimit']?}
		<li style="line-height:250%;float:left;width:50%;"><label class="radio"><input type="radio" name="egold" value="{?$i['key']?}"{?if $payset['paydefault'] == $i['key']?} checked="checked"{?/if?}> {?$i['key']?} {?$egoldname?}（{?$payset['paylimit'][i]?}元）</label></li>
		{?/section?}
	</ul>
	<div class="cb"></div>
	</div>
	<button type="submit" name="Submit" class="button">进入下一步</button>
    <input type="hidden" name="act" value="pay" />{?$jieqi_token_input?}
	<input type="hidden" name="jumpurl" value="{?$jumpurl?}" />
	<input type="hidden" name="deviceType" value="08" />
	<input type="hidden" name="payChannelType" value="13" />
    </td>
  </tr>
</table>
</form>
<div class="textbox">
<strong>说明：</strong><br />
微信扫码充值，兑换比例：<span class="hot">1</span>元=<span class="hot">100</span>{?$egoldname?}<br />
</div>