{?set jieqi_blocks_module = "pay"?}
{?set jieqi_blocks_config = "payblocks"?}
{?set $jieqi_pagetitle = "购买VIP包月-{$jieqi_sitename}"?}

{?block bid="0" blockname="充值导航" module="pay" filename="" classname="BlockSystemCustom" side="-1" title="" vars="" template="block_paylist_tab.html" contenttype="4" custom="1" publish="3" hasvars="0"?}

<script type="text/javascript">
function frmpay_validate(){
	showMask();
	displayDialog(document.getElementById('paydialog').innerHTML);
}
</script>

<div id="paydialog" style="display:none;">
<div>
	<div style="padding:20px;font-size:120%;">
	提交成功，请在新页面完成支付步骤！
	</div>
	<div style="text-align:center;padding:20px">
		<a class="btnlink" href="{?$jieqi_url?}/userdetail.php">查看我帐户</a> &nbsp;&nbsp;&nbsp;&nbsp; 
		<a class="btnlink" href="javascript:;" onclick="closeDialog();">本页继续购买</a> &nbsp;&nbsp;&nbsp;&nbsp; 
	</div>
</div>
</div>

<form name="frmalipay" method="post" action="{?$jieqi_modules['pay']['url']?}/alipay.php" target="_blank" onsubmit="return frmpay_validate();">
<table class="grid" width="100%" align="center">
  <caption>购买VIP包月</caption>
  <tr>
    <td style="font-size:14px;line-height:200%;padding:20px;">
	<strong>请选择包月类型：</strong><br />
	<div style="width:100%;clear:both;margin-bottom:10px;">
	<ul>
		{?section name=i loop=$payaction?}
		<li style="line-height:250%;float:left;width:50%;"><label class="radio"><input type="radio" name="payaction" value="{?$i['key']?}"{?if $payaction[i].default > 0?} checked="checked"{?/if?}> {?$payaction[i].caption?} （{?$payaction[i].amount?}元）</label></li>
		{?/section?}
	</ul>
	<div class="cb"></div>
	</div>
	<button type="submit" name="Submit" class="button">进入下一步</button>
    <input type="hidden" name="act" value="pay" />{?$jieqi_token_input?}
	<input type="hidden" name="jumpurl" value="{?$jumpurl?}" />
    </td>
  </tr>
</table>
</form>
<div class="textbox">
<strong></strong><br />

</div>