{?set jieqi_blocks_module = "pay"?}
{?set jieqi_blocks_config = "payblocks"?}
{?set $jieqi_pagetitle = "银行邮局汇款{$jieqi_sitename}"?}

{?block bid="0" blockname="充值导航" module="pay" filename="" classname="BlockSystemCustom" side="-1" title="" vars="" template="block_paylist_tab.html" contenttype="4" custom="1" publish="3" hasvars="0"?}

<table class="grid" width="100%" align="center">
<!--   <caption>银行邮局汇款</caption> -->
  <tr>
    <td>
	<ul class="ulrow">
		<li>1、汇款兑换比例：1元=100{?$egoldname?}。</li>
		<li>2、银行及邮局汇款，最少额度为20元人民币。</li>
		<li>3、汇款后请联系本站客服，进行人工充值。</li>
	</ul>
	<table class="grid" width="100%" align="center">
	<tr>
		<th>银行名称</th>
		<th>收款账号</th>
		<th>开户名</th>
		<th>开户地址</th>
	</tr>
	<tr>
		<td>中国工商银行</td>
		<td>0000 0000 0000 0000</td>
		<td>×××</td>
		<td>××分行××支行××营业比</td>
	</tr>
	<tr>
		<td>中国建设银行</td>
		<td>0000 0000 0000 0000</td>
		<td>×××</td>
		<td>××分行××支行××营业比</td>
	</tr>
	<tr>
		<td>中国农业银行</td>
		<td>0000 0000 0000 0000</td>
		<td>×××</td>
		<td>××分行××支行××营业比</td>
	</tr>
	</table>
	</td>
  </tr>
</table>

