<form name="articlesearch" method="post" action="{?$url_articlesearch?}" target="_blank">
<ul class="ulrow">
<li><input name="searchkey" type="text" class="text" id="searchkey" size="12" maxlength="50"> <button type="submit" name="Submit" class="button">搜索</button></li>
<li><label class="radio"><input type="radio" name="searchtype" value="articlename" checked="checked" />书名</label> &nbsp;&nbsp; <label class="radio"><input type="radio" name="searchtype" value="author" />作者</label></li>
</ul>
</form>