<ul class="ulcenter">
<li style="width:50%;float:left;"><a href="{?$url_allvisit?}">总点击榜</a></li>
<li style="width:50%;float:left;"><a href="{?$url_allvote?}">总推荐榜</a></li>
<li style="width:50%;float:left;"><a href="{?$url_monthvisit?}">月点击榜</a></li>
<li style="width:50%;float:left;"><a href="{?$url_monthvote?}">月推荐榜</a></li>
<li style="width:50%;float:left;"><a href="{?$url_weekvisit?}">周点击榜</a></li>
<li style="width:50%;float:left;"><a href="{?$url_weekvote?}">周推荐榜</a></li>
<li style="width:50%;float:left;"><a href="{?$url_postdate?}">最新入库</a></li>
<li style="width:50%;float:left;"><a href="{?$url_lastupdate?}">最近更新</a></li>
<li style="width:50%;float:left;"><a href="{?$url_goodnum?}">总收藏榜</a></li>
<li style="width:50%;float:left;"><a href="{?$url_words?}">字数排行</a></li>
</ul>
<div class="cb"></div>