<table class="hide" width="100%" border="0" cellspacing="5">
{?section name=i loop=$reviewrows?}
  <tr>
    <td width="65%"><a href="{?$article_dynamic_url?}/reviewshow.php?tid={?$reviewrows[i].topicid?}" target="_blank">{?$reviewrows[i].reviewtitle?}</a></td>
    <td width="15%">{?if $reviewrows[i].posterid > 0?}<a href="{?function jieqi_geturl:'system':'user':$reviewrows[i].posterid?}" target="_blank">{?$reviewrows[i].poster?}</a>{?else?}游客{?/if?}</td>
    <td width="20%">《<a href="{?$reviewrows[i].url_articleinfo?}" target="_blank">{?$reviewrows[i].articlename?}</a>》</td>
  </tr>
{?/section?}
</table>
<div class="more"><a href="{?$url_more?}" target="_blank">更多...</a></div>