{?set $jieqi_pagetitle = "帖子内容-{$jieqi_sitename}"?}
{?set $jieqi_contenttitle = "帖子内容"?}
{?set jieqi_page_rows = "10"?}

{?if $newpost > 0?}
<div class="textbox hot" id="postresult">{?$postresult?}</div>
<script type="text/javascript">
setTimeout(function(){$_('postresult').hide()}, 3000);
</script>
{?/if?}

<div class="blockc mt">
<div class="tc"><a class="hot f_l" href="{?$jieqi_url?}/ptopics.php?oid={?$ownerid?}">{?$ownername?} 的会客室</a></div>
<ul class="ullist">
{?section name=i loop=$ppostrows?}
	<li>
	<em>{?$ppostrows[i].posttime|date:Y-m-d H:i:s?}</em><b>{?if $ppostrows[i].posterid > 0?}{?$ppostrows[i].username?}{?else?}游客{?/if?}：</b>
	<p>{?$ppostrows[i].posttext?}</p>
	</li>
{?/section?}
</ul>
<div class="pages">{?$url_jumppage?}</div>

<a name="postnew"></a>
{?if $enablepost == 1?}
<script type="text/javascript">
function frmpost_validate(){
  if(document.frmpost.pcontent.value == ""){
	alert("请输入内容");
	document.frmpost.pcontent.focus();
	return false;
  }
}
</script>
<form name="frmpost" id="frmpost" action="{?$jieqi_url?}/ptopicshow.php?tid={?$topicid?}&do=submit" method="post" onsubmit="return frmpost_validate();" enctype="multipart/form-data">
<table class="grid" width="100%">
<caption>发表回复</caption>
<tr valign="middle" align="left">
  <td><textarea class="textarea" name="pcontent" id="pcontent" rows="12" cols="60"></textarea></td>
</tr>
{?if $postcheckcode > 0?}
<tr valign="middle" align="left">
  <td>验证码：<input type="text" class="text" style="width:6em;" name="checkcode" id="checkcode" onfocus="if(this.form.imgccode.style.display == 'none'){this.form.imgccode.src = '{?$jieqi_url?}/checkcode.php?rand={?$jieqi_time?}';this.form.imgccode.style.display = '';}" title="点击显示验证码"><img name="imgccode" src="" style="cursor:pointer;vertical-align:middle;margin-left:3px;display:none;" onclick="this.src='{?$jieqi_url?}/checkcode.php?rand='+Math.random();" title="点击刷新验证码"></td>
</tr>
{?/if?}
<tr valign="middle" align="left">
  <td><button type="submit" class="button" name="btnpost">提 交</button><input type="hidden" name="act" value="newpost" />{?$jieqi_token_input?}</td>
</tr>
</table>
</form>
{?else?}
<table class="grid" width="100%" align="center">
  <caption>发表回复</caption>
  <tr>
	<td align="center"><br />您不能发表回复，如果尚未登录，请先点击 <a class="hot fwb" href="{?$jieqi_user_url?}/login.php">登录</a><br /><br /></td>
  </tr>
</table>
{?/if?}