*{margin: 0;padding: 0;list-style: none;}
/*
KISSY CSS Reset
阎炲枣搴烽敍?. reset 闀勫嫮娲伴曦鍕瑝閺励垱绔婚梽銈嗙セ鐟椤煔娅掗曦鍕帛镨并幸鐗卞蹇ョ礉鏉╂瑶绮庨弰顖炲劥閸掑枣浼愭担婧库偓鍌涚闂勩倕鎷伴柌宀栫枂閺励垳鎻ｇ€靛棔绗夐崣顖氩瀻闀勫嫨钪?2. reset 闀勫嫮娲伴曦鍕瑝閺励垵顔€姒涙颛婚暀宄扮汉閸︺剑澧嶉摼澶嬬セ鐟椤煔娅掓稉瀣╃闀婅揪绱濋挜灞炬Ц閸戝繐镄妯款吇闀椤嘲绾洪摼澶婂讲阏宠弃鐢弶銉ф畱闂傤噣顣介妴?3. reset 阈剧喐婀滈幓镒返娑撯偓婵傛娅橀槂鍌炩偓姘辨暏闀勫嫬镡€绾偓闀椤嘲绾洪妴澶囩稻濞屸剥婀侀槇璺鸿剨阌涘本甯归捇镒姷阉诡喖鍙挎担鎸炴付濮瑰偊绱濈憗浣稿閸滃奔鎱ㄩ弨鐟版倵閸愬喘濞囬凄銊ｂ偓?阎楃澹婇敍?. 阒冨倸绨叉稉颛熸瀮阌?. 閸╄桨绨摼钪弬棰佸瘜濞翠焦绁荤憴鍩氭珤閵?缂佸瓨濮㈤敍姘卞竴娴?lifesinger@gmail.com>, 濮濓絾鐑?ragecarrier@gmail.com>
 */

/** 濞揿懘娅庨崘锻樆鏉堢绐?**/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 缂佹挻鐎岗骞傜 */
dl, dt, dd, ul, ol, li, /* list elements 閸掓銆冮岗骞傜 */
pre, /* text formatting elements 閺傚洦婀伴暀镦庣汉閸忓箓绀?*/
form, fieldset, legend, button, input, textarea, /* form elements 鐞涖刿宕熼岗骞傜 */
th, td /* table elements 鐞涖剑鐗搁岗骞傜 */ {
  margin: 0;
  padding: 0;
}

/** 镨佸墽鐤嗘妯款吇鐎涙ぞ缍?**/
body,
button, input, select, textarea /* for ie */ {
  font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* 鐏忓棙鏋╂担鎾村煓濮?*/
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 缂佺喍绔寸粤澶婎啍鐎涙ぞ缍?*/
small { font-size: 12px; } /* 鐏忓繋绨?12px 闀勫嫪鑵戦弬锲х发闂呴箖妲勭拠浼欑礉镨?small 濮濓絽鐖堕岽?*/

/** 闁插矕鐤嗛崚妤勩€冮岗骞傜 **/
ul, ol { list-style: none; }

/** 闁插矕鐤嗛弬锲ㄦ拱闀欑厧绾洪岗骞傜 **/
a { text-decoration: none; }
a:hover { text-decoration: underline; }


/** 闁插矕鐤嗙悰銊ュ礋閸忓箓绀?**/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 阉碱叀婧呴敍姘差唨阒堢偓甯撮柌宀€娈?img 闀炵姾绔熷?*/
button, input, select, textarea { font-size: 100%; } /* 娴ｅ灏缂戠悰銊ュ礋閸忓箓绀岄崷?ie 娑揿鍏樼紒褎鍦圭€涙ぞ缍嬫径褍镄?*/
/* 濞夘炼缁唎ptgroup 闀炵姵纭堕晸鑸殿劀 */

/** 闁插矕鐤嗙悰銊︾壐閸忓箓绀?**/
table { border-collapse: collapse; border-spacing: 0; }

/* 濞揿懘娅庡ù顔煎З */
.ks-clear:after, .clear:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
.ks-clear, .clear {
  *zoom: 1;
}

.main {padding: 30px 100px;}
.main h1{font-size:36px; color:#333; text-align:left;margin-bottom:30px; border-bottom: 1px solid #eee;}

.helps{margin-top:40px;}
.helps pre{
  padding:20px;
  margin:10px 0;
  border:solid 1px #e7e1cd;
  background-color: #fffdef;
  overflow: auto;
}

.icon_lists li{
  float:left;
  width: 100px;
  height:180px;
  text-align: center;
}
.icon_lists .icon{
  font-size: 42px;
  line-height: 100px;
  margin: 10px 0;
  color:#333;
  -webkit-transition: font-size 0.25s ease-out 0s;
  -moz-transition: font-size 0.25s ease-out 0s;
  transition: font-size 0.25s ease-out 0s;

}
.icon_lists .icon:hover{
  font-size: 100px;
}
