{?set jieqi_blocks_module = "obook"?}
{?set jieqi_blocks_config = "authorblocks"?}
<table class="grid" width="100%" align="center">
<caption>《{?$obookname?}》章节订阅统计</caption>
  <tr>
    <td colspan="6" class="title">总章节数：{?$ochaptersum['count']?}，章节单价总额：{?$ochaptersum['saleprice']?}，合计销售量：{?$ochaptersum['allsale']?}，合计销售额：{?$ochaptersum['sumemoney']?}</td>
  </tr>
  <tr align="center">
    <th width="30%">章节名称</th>
    <th width="10%">单价</th>
    <th width="10%">销售量</th>
    <th width="25%">总销售额</th>
    <th width="15%">状态</th>
    <th width="10%">详细记录</th>
  </tr>
  <tbody id="jieqi_page_contents">
{?section name=i loop=$ochapterrows?}
  <tr>
    <td><a href="{?$ochapterrows[i].url_chapter?}" target="_blank">{?$ochapterrows[i].chaptername?}</a></td>
    <td align="center">{?$ochapterrows[i].saleprice?}</td>
    <td align="center">{?$ochapterrows[i].allsale?}</td>
    <td align="center">{?$ochapterrows[i].sumemoney?}</td>
    <td align="center">{?$ochapterrows[i].display?}</td>
    <td align="center"><a href="{?$obook_dynamic_url?}/chapterbuylog.php?cid={?$ochapterrows[i].ochapterid?}&oid={?$obookid?}">详细记录</a></td>
  </tr>
{?/section?}
  </tbody>
</table>
<div class="pages">{?$url_jumppage?}</div>

