{?set jieqi_blocks_module = "obook"?}
{?set jieqi_blocks_config = "authorblocks"?}
{?set jieqi_page_rows = "30"?}
<table class="grid" width="100%" align="center">
<caption>章节订阅记录</caption>
  <tr align="center">
    <th width="20%">书名</th>
    <th width="35%">章节</th>
    <th width="10%">价格</th>
    <th width="15%">购买人</th>
    <th width="20%">购买日期</th>
  </tr>
  <tbody id="jieqi_page_contents">
  {?section name=i loop=$osalerows?}
  <tr>
    <td><a href="{?function jieqi_geturl:'article':'article':$osalerows[i].articleid:'info'?}" target="_blank">{?$osalerows[i].obookname?}</a></td>
    <td><a href="{?$obook_static_url?}/reader.php?oid={?$osalerows[i].obookid?}&cid={?$osalerows[i].ochapterid?}" target="_blank">{?$osalerows[i].chaptername?}</a></td>
    <td align="center">{?$osalerows[i].saleprice?}</td>
    <td align="center"><a href="{?function jieqi_geturl:'system':'user':$osalerows[i].accountid?}" target="_blank">{?$osalerows[i].account?}</a></td>
    <td align="center">{?$osalerows[i].buytime|date:'Y-m-d H:i:s'?}</td>
  </tr>
  {?/section?}
  </tbody>
</table>
<div class="pages">{?$url_jumppage?}</div>
