{?set jieqi_blocks_module = "obook"?}
{?set jieqi_blocks_config = "authorblocks"?}
{?set jieqi_page_rows = "30"?}
<table class="grid" width="100%" align="center">
<caption>我的作品收入管理</caption>
  <tr align="center">
    <th width="25%">书名</th>
    <th width="15%">订阅收入</th>
	<th width="15%">打赏收入</th>
    <th width="15%">总收入</th>
    <th width="30%">管理</th>
  </tr>
  <tbody id="jieqi_page_contents">
  {?section name=i loop=$obookrows?}
  <tr>
    <td><a href="{?function jieqi_geturl:'article':'article':$obookrows[i].articleid:'info'?}" target="_blank">{?$obookrows[i].obookname?}</a></td>
    <td align="center">{?$obookrows[i].sumegold?}</td>
	<td align="center">{?$obookrows[i].sumtip?}</td>
    <td align="center">{?$obookrows[i].sumemoney?}</td>
    <td align="center"><a href="{?$jieqi_modules['article']['url']?}/articleactlog.php?id={?$obookrows[i].articleid?}&act=tip">打赏记录</a> <a href="{?$obook_dynamic_url?}/chapterstat.php?oid={?$obookrows[i].obookid?}">销售明细</a> <a href="{?$obook_dynamic_url?}/mreport.php?obookid={?$obookrows[i].obookid?}">销售月报</a></td>
  </tr>
  {?/section?}
  </tbody>
  <tr class="foot">
    <td align="right">合计：</td>
    <td align="center">{?$obookstat['sumegold']?}</td>
    <td align="center">{?$obookstat['sumtip']?}</td>
    <td align="center">{?$obookstat['sumemoney']?}</td>
    <td align="center">共 {?$obookstat['cot']?} 本作品</td>
  </tr>
</table>
<div class="pages">{?$url_jumppage?}</div>

