{?set jieqi_blocks_module = "obook"?}
{?set jieqi_blocks_config = "guideblocks"?}
{?set jieqi_page_rows = "30"?}
<table class="grid" width="100%" align="center">
<caption>{?$obooktitle?}</caption>
  <tr align="center">
    <th width="18%">书名</th>
    <th width="28%">最新章节</th>
    <th width="11%">作者</th>
    <th width="10%">更新</th>
    <th width="17%">公众章节</th>
  </tr>
  <tbody id="jieqi_page_contents">
  {?section name=i loop=$obookrows?}
  <tr>
    <td><a href="{?function jieqi_geturl:'article':'article':$obookrows[i].articleid:'info'?}" target="_blank">{?$obookrows[i].obookname?}</a></td>
    <td><a href="{?$obookrows[i].url_lastchapter?}" target="_blank">{?$obookrows[i].lastvolume?} {?$obookrows[i].lastchapter?}</a></td>
    <td>{?if $obookrows[i].authorid == 0?}{?$obookrows[i].author?}{?else?}<a href="{?function jieqi_geturl:'system':'user':$obookrows[i].authorid?}" target="_blank">{?$obookrows[i].author?}</a>{?/if?}</td>
    <td align="center">{?$obookrows[i].lastupdate|date:'Y-m-d'?}</td>
    <td align="center">{?if $obookrows[i].articleid > 0?}<a href="{?$obookrows[i].url_read?}" target="_blank">公众章节</a>{?/if?}</td>
  </tr>
  {?/section?}
  </tbody>
</table>
<div class="pages">{?$url_jumppage?}</div>

