//ндубее╟Ф
.c_main {
  border: 1px solid $border-color;
  border-top: 3px solid $gray;
  margin-bottom: 0.6em;
  overflow: hidden;
  background: $color-bg;
}

.c_nav {
  margin-bottom: 0.3em;
  line-height: 2.25em;
  font-weight: bold;
  font-size: $font-size-lg;
  border: 1px solid $border-color;
  padding-left: 0.6em;
  background: #fff;
}

.c_title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 128.6%;
  line-height: 2.5;
}

.c_head {
  line-height: 2;
  padding: 0.3em;
  border-bottom: 1px solid $border-color;
}

.c_content {
  line-height: 1.6;
  padding: 1em 0.5em;
}

.c_content img{
  max-width: 100%;
}

.c_foot {
  font-size: $font-size-lg;
  line-height: 1.6;
  list-style: none;
}

.c_tag {
  padding: 0.5em 0;
}

.c_label {
  font-weight: bold;
}

.c_value {
  color: #666666;
  margin-right: 1.25em;
}

.c_row {
  border-bottom: 1px dotted $border-color-light;
  padding: 0.3em;
}

.c_subject {
  font-size: $font-size-lg;
  font-weight: bold;
  line-height: 2;
}

.c_description{
  color: #888888;
}
.c_cover{
  max-width: 100%;
}
.cover img, img.cover{
  max-width: 100%;
}
.cover_h img, img.cover_h{
  width:180px;
  height: 240px;
}
.cover_l img, img.cover_l{
  width:90px;
  height: 120px;
}
.cover_m img, img.cover_m{
  width:90px;
  height: 120px;
}
.cover_s img, img.cover_s{
  width:81px;
  height: 108px;
}
.cover_i img, img.cover_i{
  width:72px;
  height: 96px;
}

.row_cover, .row_coverl{
  float: left;
  width:32%;
  max-width: 120px;
  text-align:center;
  overflow:hidden;
}
.row_text, .row_textl{
  float: left;
  width:65%;
  overflow:hidden;
}