//Í¼±ê×ÖÌå
@font-face {
  font-family: "iconfont";
  src: url('fonts/iconfont.eot?t=160812'); /* IE9+ */
  src: url('fonts/iconfont.eot?t=160812#iefix') format('embedded-opentype'),
  url('fonts/iconfont.woff?t=160812') format('woff'),
  url('fonts/iconfont.ttf?t=160812') format('truetype'),
  url('fonts/iconfont.svg?t=160812#iconfont') format('svg'); /* eot:IE6-IE8; woff:chrome, firefoxi; ttf:chrome, firefox, opera, Safari, Android, iOS 4.2+; svg:OS 4.1- */
}


.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: inline-block;
  width: 1.4em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}