{?set jieqi_blocks_module = "system"?}
{?set jieqi_blocks_config = "userblocks"?}
{?set jieqi_page_rows = "10"?}
{?set $jieqi_pagetitle = "我的论坛帖子-{$jieqi_sitename}"?}

{?block bid="0" blockname="会员工具" module="system" filename="" classname="BlockSystemCustom" side="-1" title="" vars="" template="block_userbox_tab.html" contenttype="4" custom="1" publish="3" hasvars="0"?}
<table class="grid" width="100%" align="center">
  <caption>我的论坛帖子 | <a href="{?$jieqi_modules['forum']['url']?}/mytopics.php">查看论坛主题</a></caption>
  <tr>
    <td width="75%" class="head">主题</td>
    <td width="25%" class="head">发表时间</td>
  </tr>
  <tbody id="jieqi_page_contents">
  {?section name=i loop=$postrows?}
  <tr>
    <td class="topic">{?if $postrows[i].istopic > 0?}<span class="hot">主题：</span>{?else?}<span class="hot">回复：</span>{?/if?}<a href="{?function jieqi_geturl:'forum':'showtopic':$postrows[i].topicid?}" target="_blank"{?if $postrows[i].display_n == 1?} class="note"{?/if?}>{?$postrows[i].title|truncate:'54':'..'?}</a></td>
    <td class="topic" align="center">{?$postrows[i].posttime|date:"Y-m-d H:i:s"?}</td>
  </tr>
  <tr>
    <td colspan="2">
		<div style="padding:3px;border:0;height:150px;width:100%;overflow-y:scroll;">
      {?section name=m loop=$postrows[i].attachimages?}
    <img src="{?$postrows[i]['attachimages'][m].url?}" border="0" onload="imgResize(this);" onmouseover="imgMenu(this);" onclick="imgDialog('{?$postrows[i]['attachimages'][m].url?}', this);"><br /><br />
    {?/section?}
    {?section name=n loop=$postrows[i].attachfiles?}
    <span class="iconfont note">&#xee2c;</span><strong>附件:</strong><a href="{?$postrows[i]['attachfiles'][n].url?}">{?$postrows[i]['attachfiles'][n].name?}</a>({?$postrows[i]['attachfiles'][n].size_k?}K)<br /><br />
    {?/section?}
      {?$postrows[i].posttext?}
    </div>
	  </td>
  </tr>
  {?/section?}
  </tbody>
</table>

<div class="pages">{?$url_jumppage?}</div>