<form name="frmbuychapter" method="post" action="{?$url_buywhole?}">
 <table class="grid" width="100%" align="center">
    <caption><a href="{?function jieqi_geturl:'article':'article':$articleid:'index'?}">《{?$obookname?}》</a>整本订阅</caption>
	<tr>
	  <td class="tdl" width="25%">当前用户：</td>
	  <td class="tdr" width="75%">{?$username?}</td>
    </tr>
	<tr>
	  <td class="tdl">账户余额：</td>
	  <td class="tdr">{?$useregold?}{?$egoldname?}</td>
    </tr>
	<tr>
	  <td class="tdl">整本价格：</td>
	  <td class="tdr"><span class="hot">{?$saleprice?}</span> {?$egoldname?}</td>
    </tr>
	<tr align="center">
	  <td colspan="2">
	  <input type="hidden" name="act" value="buy">{?$jieqi_token_input?}
      <input type="hidden" name="oid" value="{?$oid?}">
	  <button type="submit" class="button" name="submit">确定购买</button>
	  </td>
    </tr>
	<tr align="center">
	  <td colspan="2" class="foot">
	  <a href="{?function jieqi_geturl:'article':'article':$articleid:'index':$articlecode?}">返回目录</a> | <a href="{?function jieqi_geturl:'article':'article':$articleid:'info':$articlecode?}">返回书页</a> | <a href="{?$url_buyegold?}">帐户充值</a>
	  </td> 
    </tr>
  </table>
</form>