{?set $jieqi_pagetitle = "销售月报-{$jieqi_sitename}"?}
{?set $jieqi_contenttitle = "销售月报"?}
<!--
<div class="blockb">
	<div class="blockcontent">
  <form name="frmsearch" method="get" action="{?$obook_dynamic_url?}/mreport.php">
  作品：
  <select name="obookid">
    <option value="0"{?if $_request['obookid'] == 0?} selected="selected"{?/if?}>全部</option>
    {?section name=i loop=$obookrows?}
    <option value="{?$obookrows[i].obookid?}"{?if $_request['obookid'] == $obookrows[i].obookid?} selected="selected"{?/if?}>{?$obookrows[i].obookname?}</option>
    {?/section?}
  </select>
  <br />
  开始月份：
    <select name="startyear">
      <option value="0"{?if $_request['startyear'] == 0?} selected="selected"{?/if?}>----</option>
  {?section name=i loop=$ryearrows?}
  <option value="{?$ryearrows[i]?}"{?if $ryearrows[i] == $_request['startyear']?} selected="selected"{?/if?}>{?$ryearrows[i]?}年</option>
  {?/section?}
</select>
  <select name="startmonth">
    <option value="0"{?if $_request['startmonth'] == 0?} selected="selected"{?/if?}>--</option>
    {?section name=i loop=$rmonthrows?}
    <option value="{?$rmonthrows[i]?}"{?if $rmonthrows[i] == $_request['startmonth']?} selected="selected"{?/if?}>{?$rmonthrows[i]?}月</option>
    {?/section?}
  </select>
    <br />
    截止月份：
    <select name="endyear">
      <option value="0"{?if $_request['endyear'] == 0?} selected="selected"{?/if?}>----</option>
      {?section name=i loop=$ryearrows?}
      <option value="{?$ryearrows[i]?}"{?if $ryearrows[i] == $_request['endyear']?} selected="selected"{?/if?}>{?$ryearrows[i]?}年</option>
      {?/section?}
    </select>
    <select name="endmonth">
      <option value="0"{?if $_request['endmonth'] == 0?} selected="selected"{?/if?}>--</option>
      {?section name=i loop=$rmonthrows?}
      <option value="{?$rmonthrows[i]?}"{?if $rmonthrows[i] == $_request['endmonth']?} selected="selected"{?/if?}>{?$rmonthrows[i]?}月</option>
      {?/section?}
    </select>
    <br />
    <button type="submit" name="btnsearch" class="button">查询</button>
  </form>
	</div>
</div>
-->
<div class="blocb">
	<div class="blockhead">
  		<!-- 总记录：{?$mreportstat['cot']?}， -->总订阅：{?$mreportstat['sumegold']|intval?}， 总打赏：{?$mreportstat['sumtip']|intval?}， 总收入：{?$mreportstat['sumemoney']|intval?}
	</div>
	<div class="blockcontent" id="jieqi_page_contents">
		{?section name=i loop=$mreportrows?}
		<div class="c_row cf">
			<h4><i class="fr fss">{?$mreportrows[i].reportmonth?}</i><a href="{?function jieqi_geturl:'article':'article':$mreportrows[i].articleid:'info'?}">{?$mreportrows[i].obookname?}</a></h4>
			<p class="gray" style="line-height:2;">
				总订阅：{?$mreportrows[i].sumegold?}， 总打赏：{?$mreportrows[i].sumtip?}， 总收入：{?$mreportrows[i].sumemoney?}
			</p>
		</div>
		{?/section?}
	</div>
</div>
<div class="pages">{?$url_jumppage?}</div>