html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, del, dfn, em, img, small, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, section, summary {
  margin: 0;
  padding: 0;
  border: 0; }

table, form {
  margin: 0 auto; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  line-height: 1.6;
  font-size: 14px;
  font-family: "Microsoft YaHei", SimSun, Verdana, Arial, sans-serif;
  color: #373a3c;
  background-color: #fff;
  word-wrap: break-word;
  word-break: break-all;
  _behavior: url("/css/csshover3.htc"); }

ul {
  list-style: none;
  line-height: 2; }

ol {
  line-height: 2; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: .5em;
  margin-left: 0; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

a {
  color: #333;
  text-decoration: none;
  background-color: transparent; }
  a:focus, a:hover, a:active {
    color: #ff6600;
    text-decoration: underline;
    outline: 0; }

input {
  vertical-align: middle; }

hr {
  margin: 1em auto;
  border: 0;
  border-top: 1px solid #ddd; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1em; }

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }

.h1, .h2, .h3 {
  margin-bottom: 0.5em; }

.h4, .h5, .h6 {
  margin-bottom: 0.5em; }

.h1 {
  font-size: 1.5em; }

.h2 {
  font-size: 1.25em; }

.h3 {
  font-size: 1em; }

.h4 {
  font-size: 1em; }

.h5 {
  font-size: 0.85em; }

.h6 {
  font-size: 0.75em; }

img {
  border: 0;
  vertical-align: middle; }

.button, .btnlink, .filebutton {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  line-height: 1.4;
  padding: 0.3em 0.6em;
  margin: 0 0.2em;
  color: #fff;
  background: #95a5a6;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

.button:hover, .btnlink:hover {
  color: #fff;
  text-decoration: none;
  background: #798d8f; }

.b_b {
  display: block;
  width: 100%; }

.b_s {
  font-size: 0.85em;
  padding: 0.2em 0.4em; }

.b_l {
  font-size: 1.25em;
  padding: 0.4em 0.7em; }

.b_hot {
  background: #f0ad4e;
  color: #fff;
  border-color: transparent; }
  .b_hot:hover {
    background: #ec971f; }

.b_note {
  background: #5bc0de;
  color: #fff;
  border-color: transparent; }
  .b_note:hover {
    background: #31b0d5; }

.b_gray {
  background: #818a91;
  color: #fff;
  border-color: transparent; }
  .b_gray:hover {
    background: #687077; }

.b_success {
  background: #5cb85c;
  color: #fff;
  border-color: transparent; }
  .b_success:hover {
    background: #449d44; }

.b_error {
  background: #d9534f;
  color: #fff;
  border-color: transparent; }
  .b_error:hover {
    background: #c9302c; }

.b_primary {
  background: #0275d8;
  color: #fff;
  border-color: transparent; }
  .b_primary:hover {
    background: #025aa5; }

.buttons {
  position: relative;
  display: inline-block;
  vertical-align: middle; }
  .buttons .button {
    position: relative;
    float: left;
    margin: 0; }
    .buttons .button:not(:first-child):not(:last-child) {
      border-radius: 0; }
    .buttons .button:first-child:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
  .buttons > .button:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1em;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  background: transparent; }
  table caption, table .title {
    line-height: 2.5;
    font-weight: bold;
    font-size: 1.25em;
    background-color: inherit;
    color: inherit; }
  table tr {
    border-top: 1px solid #eceeef; }
  table th, table td, table .head {
    padding: 0.5em;
    line-height: 1.6;
    vertical-align: top; }
  table th, table .head {
    font-weight: bold;
    vertical-align: bottom;
    border-bottom: 2px solid #eceeef; }
  table.rh tr:hover {
    background-color: #f5f5f5; }
  table.fix {
    table-layout: fixed; }
    table.fix td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis; }
  table.stripe {
    border: 0; }
    table.stripe caption {
      border: 0;
      border-bottom: 2px solid #ddd; }
    table.stripe th {
      border: 0;
      border-bottom: 2px solid #ddd; }
    table.stripe tr {
      border: 0;
      border-bottom: 1px solid #ddd; }
  table.hide {
    border: 0; }
    table.hide caption, table.hide tr, table.hide th, table.hide td {
      border: 0; }

.odd {
  background: transparent; }

.even {
  background: #f5f5f5; }

.topic {
  background: #f5f5f5;
  text-align: left;
  font-weight: bold;
  line-height: 2; }

.foot {
  background: #f5f5f5;
  text-align: center;
  line-height: 2; }

.tdl {
  text-align: right;
  font-weight: bold; }

.form {
  border: 1px solid #ddd;
  margin-bottom: 1em;
  padding: 0.6em;
  overflow: hidden;
  background: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px; }
  .form fieldset {
    margin: 0;
    padding: 0.3em 0;
    border: 0; }
  .form legend {
    display: block;
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0.2em;
    text-align: center;
    color: #f0ad4e;
    font-weight: bold;
    font-size: 1.25em;
    line-height: 2; }
  .form .flabel {
    text-align: right;
    vertical-align: middle; }
  .form .frow {
    margin: 0.6em 0; }

.textarea, .text, .file {
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 1px 1px 2px #e2e2e2;
  box-shadow: inset 1px 1px 2px #e2e2e2; }

.textarea:focus, .text:focus, .file:focus {
  outline: 0;
  border: 1px solid #55595c;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px #d7d7d7, 0 0 8px #999;
  box-shadow: inset 0 1px 1px #d7d7d7, 0 0 8px #999; }

.textarea::-moz-placeholder, .textarea:-ms-input-placeholder, .textarea::-webkit-input-placeholder, .text::-moz-placeholder, .text:-ms-input-placeholder, .text::-webkit-input-placeholder, .file::-moz-placeholder, .file:-ms-input-placeholder, .file::-webkit-input-placeholder {
  color: #999; }

.text {
  padding: 0.3em 0.5em; }

.t_s {
  padding: 0.15em 0.3em; }

.t_l {
  padding: 0.5em 0.8em; }

.filediv {
  margin-top: 0.3em; }

.select {
  padding: 0.3em; }

.checkbox, .radio {
  cursor: pointer; }

.ultop li, .ullist li, .ulnav li, .ulnum li, .ultwo li, .ulhover li {
  line-height: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.ultop em, .ullist em, .ulnav em, .ulnum em, .ulhover em {
  float: right;
  font-style: normal;
  font-size: 0.85em;
  color: #55595c;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.ultop li {
  border-bottom: 1px dotted #eceeef; }

.ulnav {
  font-size: 1.25em; }
  .ulnav li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .ulnav li i {
      font-style: normal;
      color: #f0ad4e;
      margin-right: 0.3em; }

.ultab {
  height: 30px;
  margin: 0;
  padding: 0; }
  .ultab li {
    float: left;
    list-style: none;
    margin-right: 0.2em; }
    .ultab li a {
      display: block;
      float: left;
      height: 29px;
      line-height: 29px;
      padding: 0 0.6em;
      font-weight: normal;
      background: #f5f5f5;
      color: #373a3c;
      text-decoration: none;
      border: 1px solid #ddd;
      border-bottom: none; }
      .ultab li a.selected {
        font-weight: bold;
        background: #fff;
        color: #f0ad4e;
        text-decoration: none;
        border-top: 2px solid #f0ad4e;
        position: relative;
        margin-bottom: -1px; }

.ulnum li b, .ulnum li i {
  background: #ff9900;
  color: #fff;
  display: inline-block;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6em;
  font-style: normal;
  font-weight: normal;
  font-size: 85.7%;
  text-align: center;
  margin-right: 0.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.ulhover li b, .ulhover li i {
  background: #f0ad4e;
  color: #fff;
  display: inline-block;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6em;
  font-style: normal;
  font-weight: normal;
  font-size: 0.85em;
  text-align: center;
  margin-right: 0.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

.ulnum li i {
  background: #f5f5f5;
  color: #333; }

.ulhover li i {
  background: #f5f5f5;
  color: #333; }
.ulhover li.selected span {
  font-style: normal; }
.ulhover li div {
  position: relative;
  display: none; }
  .ulhover li div b, .ulhover li div i {
    position: absolute;
    left: 0;
    top: 0; }
.ulhover li.selected span {
  display: none; }
.ulhover li.selected div {
  display: block; }
.ulhover li img {
  width: 27%;
  float: left; }
.ulhover li p {
  width: 68%;
  margin-left: 5%;
  line-height: 1.8;
  float: left;
  overflow: hidden; }

.ultwo li {
  width: 49.9%;
  padding: 0;
  margin: 0;
  float: left;
  overflow: hidden; }

.ulcenter li {
  text-align: center;
  font-size: 1.25em; }

.ultag li {
  float: left;
  display: inline-block;
  margin: 0.5em 1em 0.5em 0;
  border: 1px solid #ddd;
  background: #f5f5f5;
  padding: 0 0.3em;
  line-height: 1.5;
  white-space: nowrap; }
.ultag .taguse {
  border: 1px solid #5bc0de;
  background: #f5f5f5; }

.libleft {
  float: left;
  width: 70%;
  overflow: hidden; }

.libright {
  float: right;
  width: 30%;
  overflow: hidden;
  color: #0275d8;
  text-align: right; }

.full {
  width: 100%;
  _height: 0; }

.main {
  max-width: 1000px;
  clear: both;
  margin: 0 auto;
  _height: 0; }

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {
  float: left;
  margin-right: 1%;
  *margin-right: 0.5%; }

.col1 {
  width: 7.41667%; }

.col2 {
  width: 15.83333%; }

.col3 {
  width: 24.25%; }

.col4 {
  width: 32.66667%; }

.col5 {
  width: 41.08333%; }

.col6 {
  width: 49.5%; }

.col7 {
  width: 57.91667%; }

.col8 {
  width: 66.33333%; }

.col9 {
  width: 74.75%; }

.col10 {
  width: 83.16667%; }

.col11 {
  width: 91.58333%; }

.col12 {
  width: 100%;
  float: none;
  margin: 0; }

@media (min-width: 641px) and (max-width: 1023px) {
  .col1 {
    width: 10.22222%; }

  .col2 {
    width: 21.44444%; }

  .col3 {
    width: 32.66667%; }

  .col4 {
    width: 43.88889%; }

  .col5 {
    width: 55.11111%; }

  .col6 {
    width: 66.33333%; }

  .col7 {
    width: 77.55556%; }

  .col8 {
    width: 88.77778%; }

  .col9, .col10, .col11, .col12 {
    width: 100%;
    float: none;
    margin: 0; } }
@media screen and (max-width: 640px) {
  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {
    width: 100%;
    float: none;
    margin: 0; } }
.last {
  float: right;
  margin-right: 0; }

.top {
  line-height: 2.4;
  vertical-align: middle;
  background: #f6f6f6;
  color: #333;
  border-bottom: 1px solid #ddd; }
  .top a:hover {
    text-decoration: none; }

.topnav sup {
  background: #f0ad4e;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  height: 1.2em;
  line-height: 1.2em;
  vertical-align: top;
  margin: 0.5em 0 0 0;
  padding: 0 0.2em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
.topnav li {
  float: left;
  padding: 0 0.5em; }
  .topnav li.dropdown {
    padding: 0; }

.header {
  color: #fff;
  background: #333;
  padding: 1.5em 0; }

.logo {
  float: left; }
  .logo img {
    height: 60px; }

.banner {
  float: right; }

.pagetitle {
  background: #333;
  color: #fff;
  margin: 0 0 1em 0;
  line-height: 2.5;
  font-size: 1.5em;
  text-align: center; }

.pagetitle a {
  color: #fff; }

.pagetitle i {
  padding: 0 0.6em; }

.mainnav {
  float: left;
  margin: 16px 0 0 20px;
  line-height: 2;
  background: transparent;
  color: #fff; }
  .mainnav a {
    display: block;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    padding: 0 0.75em;
    text-decoration: none;
    color: #fff; }
  .mainnav li {
    float: left; }

.subnav {
  line-height: 2.4;
  text-align: center;
  color: #333;
  background: #fff;
  border-bottom: 1px solid #ddd; }
  .subnav a {
    text-align: center;
    color: #333;
    padding: 0 0.4em;
    text-decoration: none; }

.mainbody {
  background: #fff;
  padding: 12px 8px;
  margin: 10px auto 20px auto;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 6px 12px #d3d3d3;
  box-shadow: 0 6px 12px #d3d3d3; }

.footer {
  border-top: 1px solid #ddd;
  color: #666;
  background: #fff;
  text-align: center;
  padding: 2em 0;
  line-height: 2;
  clear: both; }
  .footer a {
    color: #666; }

.block, .blockc, .blockb {
  background: #fff;
  color: #373a3c; }

.block, .blockc {
  margin: 0 0 1em 0; }

.blocktitle {
  height: 2.5em;
  line-height: 2.5em;
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 1px;
  padding: 0 0.5em 1px 0.5em;
  border-bottom: 1px solid #ddd;
  color: #333;
  background: #fff; }
  .blocktitle li {
    text-indent: 0; }
  .blocktitle ul.tabf {
    margin-top: 0.8em;
    padding: 0; }
    .blocktitle ul.tabf li {
      float: left;
      padding: 0;
      margin: 0 0.3em 0 0; }
      .blocktitle ul.tabf li a {
        display: block;
        float: left;
        height: 1.7em;
        line-height: 1.7em;
        padding: 0 0.3em;
        margin: 0;
        font-weight: normal;
        background: #f5f5f5;
        text-decoration: none;
        color: #373a3c;
        border: 1px solid #ddd;
        border-bottom: none; }
        .blocktitle ul.tabf li a.selected {
          font-weight: bold;
          background: #fff;
          color: #f0ad4e;
          border-top: 2px solid #f0ad4e; }
  .blocktitle ul.tabb {
    width: 100%;
    margin: 0;
    padding: 0; }
    .blocktitle ul.tabb li {
      float: left;
      padding: 0;
      margin: 0; }
  .blocktitle ul.tab2 li {
    width: 50%; }
  .blocktitle ul.tab3 li {
    width: 33.33%; }
  .blocktitle ul.tab4 li {
    width: 25%; }
  .blocktitle ul.tab5 li {
    width: 20%; }
  .blocktitle ul.tabb li a {
    display: block;
    height: 2.5em;
    line-height: 2.5;
    font-weight: normal;
    background: #f5f5f5;
    color: #373a3c;
    text-decoration: none;
    text-align: center; }
    .blocktitle ul.tabb li a.selected {
      font-weight: bold;
      background: #fff;
      color: #f0ad4e; }

.blockcontent {
  margin: 0.5em; }

.blocknote {
  border-top: 1px solid #ddd;
  text-align: center;
  background: #eceeef;
  color: #373a3c;
  margin: 0.3em; }

.row .last .block, .row .last .blockc, .row .last .blockb, .row .bbd .block, .row .bbd .blockc, .row .bbd .blockb {
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }
.row .last .blocktitle, .row .bbd .blocktitle {
  background: #f5f5f5;
  border-bottom: 0; }

.fix, .lm {
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden; }

.cf, .row, .frow, .form {
  *zoom: 1; }
  .cf:after, .row:after, .frow:after, .form:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden; }

.cb {
  clear: both;
  font-size: 0;
  height: 0;
  overflow: hidden; }

.db {
  display: block; }

.dn {
  display: none; }

.di {
  display: inline; }

.dib {
  display: inline-block; }

.df {
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex; }
  .df li {
    display: block;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    flex: 1; }

.pa {
  position: absolute; }

.pr {
  position: relative; }

.pf {
  position: fixed; }

.fl {
  float: left; }

.fr {
  float: right; }

.fn {
  float: none; }

.mt {
  margin-top: 1em; }

.mts {
  margin-top: 0.5em; }

.mb {
  margin-bottom: 1em; }

.mbs {
  margin-bottom: 0.5em; }

.mtb {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

.pd {
  padding: 1em; }

.lhs {
  line-height: 1.2; }

.lhm {
  line-height: 1.6; }

.lhl {
  line-height: 2; }

.lhh {
  line-height: 2.5; }

.bd {
  border: 1px solid #ddd; }

.bt {
  border-top: 1px solid #ddd; }

.bb {
  border-bottom: 1px solid #ddd; }

.bl {
  border-left: 1px solid #ddd; }

.br {
  border-right: 1px solid #ddd; }

.bdr {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

.bdc {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.tl {
  text-align: left; }

.tc {
  text-align: center; }

.tr {
  text-align: right; }

.fss {
  font-size: 0.85em; }

.fsl {
  font-size: 1.25em; }

.fwb {
  font-weight: bold; }

.nw {
  white-space: nowrap;
  overflow: hidden; }

.wn {
  white-space: normal;
  overflow: auto; }

.hot, a.hot {
  color: #f0ad4e; }

.bg_hot {
  background: #f0ad4e;
  color: #fff; }

.bd_hot {
  color: #f0ad4e;
  border: 1px solid #f0ad4e;
  background: #fff; }

.note, a.note {
  color: #5bc0de; }

.bg_note {
  background: #5bc0de;
  color: #fff; }

.bd_note {
  color: #5bc0de;
  border: 1px solid #5bc0de;
  background: #fff; }

.gray, a.gray {
  color: #818a91; }

.bg_gray {
  background: #818a91;
  color: #fff; }

.bd_gray {
  color: #818a91;
  border: 1px solid #818a91;
  background: #fff; }

.success, a.success {
  color: #5cb85c; }

.bg_success {
  background: #5cb85c;
  color: #fff; }

.bd_success {
  color: #5cb85c;
  border: 1px solid #5cb85c;
  background: #fff; }

.error, a.error {
  color: #d9534f; }

.bg_error {
  background: #d9534f;
  color: #fff; }

.bd_error {
  color: #d9534f;
  border: 1px solid #d9534f;
  background: #fff; }

.primary, a.primary {
  color: #0275d8; }

.bg_primary {
  background: #0275d8;
  color: #fff; }

.bd_primary {
  color: #0275d8;
  border: 1px solid #0275d8;
  background: #fff; }

.bg_1 {
  background: #339933; }

.bg_2 {
  background: #1BA1E2; }

.bg_3 {
  background: #F09609; }

.bg_4 {
  background: #8CBF26; }

.bg_5 {
  background: #00ABA9; }

.bg_6 {
  background: #FF0097; }

.bg_7 {
  background: #E671B8; }

.bg_8 {
  background: #996600; }

.bg_9 {
  background: #A200FF; }

.bg_10 {
  background: #E51400; }

a.more, .more a {
  display: block;
  color: #55595c;
  text-align: right;
  margin-right: 0.3em;
  line-height: 2; }

a.moretop, .moretop a {
  display: block;
  height: 2.25em;
  line-height: 2.25;
  color: #55595c;
  text-align: right;
  margin: -3em 0.3em 0.5em 0; }

@font-face {
  font-family: "iconfont";
  src: url("fonts/iconfont.eot?t=160812");
  /* IE9+ */
  src: url("fonts/iconfont.eot?t=160812#iefix") format("embedded-opentype"), url("fonts/iconfont.woff?t=160812") format("woff"), url("fonts/iconfont.ttf?t=160812") format("truetype"), url("fonts/iconfont.svg?t=160812#iconfont") format("svg");
  /* eot:IE6-IE8; woff:chrome, firefoxi; ttf:chrome, firefox, opera, Safari, Android, iOS 4.2+; svg:OS 4.1- */ }
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: inline-block;
  width: 1.4em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.c_main {
  border: 1px solid #ddd;
  border-top: 3px solid #55595c;
  margin-bottom: 0.6em;
  overflow: hidden;
  background: #fff; }

.c_nav {
  margin-bottom: 0.3em;
  line-height: 2.25em;
  font-weight: bold;
  font-size: 1.25em;
  border: 1px solid #ddd;
  padding-left: 0.6em;
  background: #fff; }

.c_title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 128.6%;
  line-height: 2.5; }

.c_head {
  line-height: 2;
  padding: 0.3em;
  border-bottom: 1px solid #ddd; }

.c_content {
  line-height: 1.6;
  padding: 1.25em; }
  .c_content p {
    margin-bottom: 0.8em; }
  .c_content h2, .c_content h3, .c_content h4 {
    margin: 0.5em 0; }

.c_foot {
  font-size: 1.25em;
  line-height: 1.6;
  list-style: none; }

.c_tag {
  padding: 0.5em 0; }

.c_label {
  color: #818a91; }

.c_value {
  color: #666;
  margin-right: 1.25em; }

.c_row {
  border-bottom: 1px dotted #e8e8e8;
  padding: 0.3em; }

.c_subject {
  font-weight: bold;
  line-height: 2.2;
  background: #eceeef;
  padding-left: 0.5em; }

.c_description {
  color: #666; }

.c_cover {
  max-width: 100%; }

.cover img, img.cover {
  max-width: 100%; }

.cover_h img, img.cover_h {
  width: 210px;
  height: 280px; }

.cover_l img, img.cover_l {
  width: 180px;
  height: 240px; }

.cover_m img, img.cover_m {
  width: 120px;
  height: 150px; }

.cover_s img, img.cover_s {
  width: 90px;
  height: 120px; }

.cover_i img, img.cover_i {
  width: 60px;
  height: 80px; }

.jieqiQuote, .jieqiCode, .jieqiNote {
  border: 1px solid #ddd;
  border-left: 5px solid #ddd;
  padding: 0.3em;
  color: #333;
  background: #f5f5f5; }

.divbox, .textbox {
  border: 1px solid #ddd;
  padding: 0.5em;
  margin-bottom: 0.6em;
  background: #fff; }

.divbg {
  padding: 0.5em;
  margin: 0.5em 0;
  background: #f5f5f5; }

.ajaxtip {
  position: absolute;
  border: 1px solid #ddd;
  background: #fff;
  color: #ff0000;
  padding: 0.2em 0.3em;
  z-index: 700; }

.msgbox {
  margin: 5em auto;
  width: 40%;
  min-width: 300px;
  border: 1px solid #ddd; }

#dialog, .dialog {
  position: absolute;
  visibility: hidden;
  border: 1px solid #999;
  background: #fff;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-shadow: 0 5px 15px #757575;
  box-shadow: 0 5px 15px #757575; }

.dialog_t {
  color: #999;
  font-size: 1.25em;
  font-weight: bold;
  line-height: 2.5em;
  padding-left: 1em;
  border-bottom: 1px solid #999; }
  .dialog_t a {
    text-decoration: none;
    display: inline-block;
    float: right;
    width: 14px;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #999;
    background-color: #f5f5f5;
    border: 2px solid #ddd;
    margin: 10px; }
    .dialog_t a:hover {
      color: #fff;
      background-color: #f0ad4e; }

.dialog_c {
  padding: 0.8em 0.6em 0.4em 0.6em; }
  .dialog_c .form {
    border: 0; }
    .dialog_c .form legend {
      display: none; }

#mask, .mask {
  position: absolute;
  top: 0;
  left: 0;
  background: #818a91;
  filter: alpha(opacity=30);
  opacity: 0.3; }

.pages {
  padding: 0.5em 0;
  overflow: auto; }
  .pages a.pagemore {
    display: block;
    float: none;
    border: 1px solid #ddd;
    background: #eceeef;
    font-size: 1.25em;
    text-align: center;
    line-height: 2; }

.pagelink {
  border: 1px solid #ddd;
  float: right;
  background: #fff;
  line-height: 2em;
  padding: 0; }
  .pagelink a, .pagelink strong, .pagelink em, .pagelink kbd {
    float: left;
    padding: 0 0.4em; }
  .pagelink a.first, .pagelink a.last, .pagelink a.prev, .pagelink a.next, .pagelink a.pgroup, .pagelink a.ngroup {
    float: left;
    padding: 0 0.4em; }
  .pagelink a:hover {
    background-color: #fff; }
  .pagelink strong {
    font-weight: bold;
    color: #fff;
    background: #f0ad4e; }
  .pagelink kbd {
    border-left: 1px solid #ddd; }
  .pagelink em {
    border-right: 1px solid #ddd;
    font-style: normal; }
    .pagelink em a {
      display: inline-block;
      float: none;
      background: #f5f5f5;
      border: 1px solid #ddd;
      line-height: 18px;
      padding: 0 2px;
      margin: 0 3px; }
  .pagelink input {
    border: 1px solid #ddd;
    padding: 0.12em;
    text-align: center; }

img.avatar {
  border: 0; }
img.avatars {
  width: 48px;
  height: 48px;
  padding: 3px;
  margin: 0.25em;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer; }
img.avatari {
  width: 1em;
  height: 1em;
  border: 1px solid #ddd;
  margin-bottom: -0.2em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
img.smile {
  width: 20px;
  height: 20px;
  margin: 0 1px; }

.tablist ul {
  margin: 0;
  padding: 0; }
.tablist li {
  float: left;
  list-style: none;
  margin-right: 0.2em; }
  .tablist li a {
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 0.6em;
    font-weight: normal;
    background: #f5f5f5;
    text-decoration: none;
    color: #373a3c;
    border: 1px solid #ddd;
    border-bottom: none; }
    .tablist li a.selected {
      font-weight: bold;
      background: #fff;
      color: #f0ad4e;
      text-decoration: none;
      border-top: 2px solid #f0ad4e;
      position: relative;
      margin-bottom: -1px; }

.tabcontent {
  clear: both;
  border: 1px solid #ddd;
  padding: 0.6em; }

.dropico {
  display: inline-block;
  width: 0;
  height: 0;
  font-size: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-top-color: #666;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.d_up .dropico {
  border-top: none;
  border-bottom: 4px solid;
  border-bottom-color: #666;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.dropdown {
  display: inline-block;
  position: relative;
  padding: 0; }
  .dropdown a:hover {
    text-decoration: none; }
  .dropdown a.droplink {
    display: block;
    position: relative;
    z-index: 600;
    margin: -1px 0 0 0;
    padding: 1px 5px 0 5px; }
  .dropdown:hover a.droplink {
    padding: 0 4px 0 4px;
    border: 1px solid #ddd;
    border-bottom: none;
    background: #fff; }

.d_up:hover a.droplink {
  padding: 0 4px 0 4px;
  border: 1px solid #ddd;
  border-top: none;
  background: #fff; }

.dropdown:hover div, .dropdown:hover ul {
  display: block; }

.dropbox, .droplist {
  display: none;
  position: absolute;
  left: 0;
  z-index: 600;
  margin-top: -1px;
  font-size: 14px;
  font-weight: normal;
  min-width: 100px;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 6px 12px #d3d3d3;
  box-shadow: 0 6px 12px #d3d3d3; }

.dropbox {
  margin-top: 0; }

.d_up .droplist {
  top: auto;
  bottom: 100%;
  margin-bottom: -1px; }

.droplist li {
  float: none;
  padding: 0; }
  .droplist li a {
    display: block;
    text-align: left;
    text-indent: 1em;
    text-decoration: none;
    line-height: 2;
    color: #333; }
    .droplist li a:hover {
      background: #f5f5f5;
      text-decoration: none; }
.droplist .divider {
  height: 1px;
  font-size: 0;
  margin: 5px 0;
  overflow: hidden;
  background-color: #f5f5f5; }

.dropmenu a {
  display: block;
  background: transparent;
  color: #fff; }
.dropmenu li {
  float: left; }
  .dropmenu li:hover > a {
    background: #eceeef;
    color: #333;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }
  .dropmenu li ul {
    display: none;
    position: absolute;
    margin-top: 0px;
    z-index: 500;
    background: #fff;
    min-width: 120px;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 12px #d3d3d3;
    box-shadow: 0 6px 12px #d3d3d3; }
    .dropmenu li ul li {
      float: none;
      padding: 0;
      background: transparent;
      line-height: 2; }
    .dropmenu li ul a {
      display: block;
      text-align: left;
      font-weight: normal;
      color: #333;
      text-decoration: none; }
      .dropmenu li ul a:hover {
        background: #f5f5f5;
        color: #333;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0; }
  .dropmenu li:hover ul {
    display: block; }

.slidetitle {
  width: 58px;
  margin: 8px 8px 0 0;
  float: right;
  display: inline; }
  .slidetitle li {
    margin-bottom: 11px; }
    .slidetitle li.last {
      margin: 0; }
    .slidetitle li a img {
      vertical-align: bottom;
      width: 56px;
      height: 70px;
      border: 1px solid #ccc;
      opacity: 0.7;
      font-size: 0; }
    .slidetitle li a.selected img {
      border: 1px solid #f60;
      opacity: 1; }

.slidecontent {
  width: 242px;
  height: 404px;
  overflow: hidden;
  margin: 8px 0 8px 8px;
  float: left;
  display: inline;
  background: #f6f6f6; }
  .slidecontent img {
    width: 240px;
    height: 300px;
    border: 1px solid #ccc; }
  .slidecontent span {
    font-size: 114.3%;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 0.3em; }
  .slidecontent p {
    padding: 0 0.3em; }

.blockc .bh {
  width: 46%;
  float: left;
  padding: 2%; }
.blockc .bt {
  padding: 5px;
  margin-bottom: 10px;
  background: #f0f0f0; }
.blockc .bc img {
  width: 80px;
  height: 100px;
  margin: 0 10px 10px 0;
  float: left;
  padding: 2px;
  -webkit-box-shadow: 0 0 5px #aaa;
  box-shadow: 0 0 5px #aaa; }
.blockc .bc p {
  font-size: 85.7%; }

/*# sourceMappingURL=style.css.map */
