<ul class="ulnav">
<li><a class="db cf" href="http://m.automoviel.net/modules/article/bookcase.php"><em class="iconfont fr">&#xee6a;</em><i class="iconfont">&#xee43;</i>我的书架</a></li>
<li><a class="db cf" href="http://m.automoviel.net/modules/pay/buyegold.php"><em class="iconfont fr">&#xee6a;</em><i class="iconfont">&#xee3c;</i>我要充值</a></li>
<li><a class="db cf" href="http://m.automoviel.net/passedit.php"><em class="iconfont fr">&#xee6a;</em><i class="iconfont">&#xee29;</i>修改密码</a></li>
<li><a class="db cf" href="http://m.automoviel.net/modules/obook/buylist.php"><em class="iconfont fr">&#xee6a;</em><i class="iconfont">&#xee45;</i>我的订阅</a></li>
<li><a class="db cf" href="http://m.automoviel.net/modules/article/myactlog.php?act=tip"><em class="iconfont fr">&#xee6a;</em><i class="iconfont">&#xee3f;</i>打赏记录</a></li>
<li><a class="db cf" href="http://m.automoviel.net/modules/pay/paylog.php"><em class="iconfont fr">&#xee6a;</em><i class="iconfont">&#xee41;</i>充值记录</a></li>
<li><a class="db cf" href="http://m.automoviel.net/logout.php"><em class="iconfont fr">&#xee6a;</em><i class="iconfont">&#xee2a;</i>退出登录</a></li>
</ul>