<ul class="ulnav">
<li><i class="iconfont">&#xee59;</i><a href="{?$jieqi_url?}/promotion.php"{?if $jieqi_thisfile|basename == 'promotion.php'?} class="selected"{?/if?}>推广说明</a></li>
<li><i class="iconfont">&#xee41;</i><a href="{?$jieqi_url?}/myearnlog.php"{?if $jieqi_thisfile|basename == 'myearnlog.php'?} class="selected"{?/if?}>分成记录</a></li>
{?if $settlemin > 0?}<li><i class="iconfont">&#xee3d;</i><a href="{?$jieqi_url?}/mysettlelog.php"{?if $jieqi_thisfile|basename == 'mysettlelog.php'?} class="selected"{?/if?}>提现记录</a></li>{?/if?}
<li><i class="iconfont">&#xee42;</i><a href="{?$jieqi_modules['pay']['url']?}/chpaystat.php"{?if $jieqi_thisfile|basename == 'chpaystat.php'?} class="selected"{?/if?}>充值统计</a></li>
<li><i class="iconfont">&#xee75;</i><a href="{?$jieqi_url?}/chusergrowth.php"{?if $jieqi_thisfile|basename == 'chusergrowth.php'?} class="selected"{?/if?}>注册统计</a></li>
</ul>