<ul class="ultab">
<li><a href="{?$jieqi_url?}/userdetail.php"{?if $jieqi_thisfile|basename == 'userdetail.php'?} class="selected"{?/if?}><i class="iconfont">&#xee21;</i>用户资料</a></li>
<li><a href="{?$jieqi_url?}/useredit.php"{?if $jieqi_thisfile|basename == 'useredit.php'?} class="selected"{?/if?}><i class="iconfont">&#xee4a;</i>修改资料</a></li>
<li><a href="{?$jieqi_url?}/setavatar.php"{?if $jieqi_thisfile|basename == 'setavatar.php'?} class="selected"{?/if?}><i class="iconfont">&#xee25;</i>设置头像</a></li>
<li><a href="{?$jieqi_url?}/passedit.php"{?if $jieqi_thisfile|basename == 'passedit.php'?} class="selected"{?/if?}><i class="iconfont">&#xee29;</i>修改密码</a></li>
</ul>