<ul class="ulnav">
<li><i class="iconfont">&#xee8f;</i><a href="{?$jieqi_url?}/page.php?bid=11"{?if $_request['bid']|isset && $_request['bid'] == '11'?} class="selected"{?/if?}>关于本站</a></li>
<li><i class="iconfont">&#xee9d;</i><a href="{?$jieqi_url?}/page.php?bid=12"{?if $_request['bid']|isset && $_request['bid'] == '12'?} class="selected"{?/if?}>联系我们</a></li>
<li><i class="iconfont">&#xee21;</i><a href="{?$jieqi_url?}/page.php?bid=13"{?if $_request['bid']|isset && $_request['bid'] == '13'?} class="selected"{?/if?}>用户指南</a></li>
<li><i class="iconfont">&#xee59;</i><a href="{?$jieqi_url?}/page.php?bid=14"{?if $_request['bid']|isset && $_request['bid'] == '14'?} class="selected"{?/if?}>版权声明</a></li>
<li><i class="iconfont">&#xee88;</i><a href="{?$jieqi_url?}/page.php?bid=15"{?if $_request['bid']|isset && $_request['bid'] == '15'?} class="selected"{?/if?}>作家福利</a></li>
</ul>