<script type="text/javascript">
function frmgetpass_validate(){
  if(document.frmgetpass.uname.value == ""){
    alert( "请输入用户名" );
	document.frmgetpass.uname.focus();
	return false;
  }
  if(document.frmgetpass.email.value == ""){
    alert( "请输入Email" );
	document.frmgetpass.email.focus();
	return false;
  }
}
</script>

<form class="form cf" style="width:60%; min-width:480px;" name="frmgetpass" method="post" action="{?$jieqi_url?}/getpass.php?do=submit" onsubmit="return frmgetpass_validate();">
    <fieldset>
		<legend>忘记密码？</legend>

		<div class="frow">
            <label class="col4 flabel">用户名：</label>
			<div class="col8 last">
			<input type="text" class="text" size="20" name="uname" value="" />
			</div>
        </div>

		<div class="frow">
            <label class="col4 flabel">Email：</label>
			<div class="col8 last">
            <input type="text" class="text" size="20" name="email" value="" />
			</div>
        </div>
		
		<div class="frow">
            <label class="col4 flabel"><input type="hidden" name="act" value="sendpass" />{?$jieqi_token_input?}</label>
			<div class="col8 last">
            <button type="submit" class="button" name="submit">提 交</button>
			</div>
        </div>

		<div class="frow foot">说明：提交以下信息并后，请查看您的邮箱，根据提示的链接返回本站重新设定密码。</div>

	</fieldset>
</form>