{?set jieqi_blocks_module = "system"?}
{?set jieqi_blocks_config = "userblocks"?}
{?set jieqi_page_rows = "30"?}
{?set $jieqi_pagetitle = "发件箱-{$jieqi_sitename}"?}

{?block bid="0" blockname="站内消息" module="system" filename="" classname="BlockSystemCustom" side="-1" title="" vars="" template="block_message_tab.html" contenttype="4" custom="1" publish="3" hasvars="0"?}
<form action="{?$url_action?}" method="post" name="checkform" id="checkform">
<table class="grid" width="100%" align="center">
<!-- <caption>{?$boxname?}（收/发件箱共允许消息数：{?$maxmessage?}，现有消息数：{?$nowmessage?}）</caption> -->
  <tr>
    <th width="5%"><input type="checkbox" name="checkall" value="checkall" onclick="for(var i=0;i<this.form.elements.length;i++){ if(this.form.elements[i].name != 'checkkall') this.form.elements[i].checked = this.form.checkall.checked; }"></th>
    <th width="20%">{?$usertitle?}</th>
    <th width="60%">标题</th>
    <th width="15%">日期</th>
  </tr>
  <tbody id="jieqi_page_contents">
{?section name=i loop=$messagerows?}
  <tr>
    <td align="center"><input type="checkbox" name="id[]" value="{?$messagerows[i].messageid?}"></td>
    <td>{?if $messagerows[i].toid > 0?}<a href="{?function jieqi_geturl:'system':'user':$messagerows[i].toid?}" target="_blank">{?$messagerows[i].toname?}</a>{?else?}<span class="hot">网站管理员</span>{?/if?}</td>
    <td><a href="{?$jieqi_url?}/messagedetail.php?id={?$messagerows[i].messageid?}">{?$messagerows[i].title?}</a></td>
    <td align="center">{?$messagerows[i].postdate|date:"Y-m-d"?}</td>
  </tr>
{?/section?}
  </tbody>
  <tr>
    <td colspan="4" class="foot">
		<input type="button" name="selectall" value="全部选中" class="button" onclick="for (var i=0;i<this.form.elements.length;i++){ this.form.elements[i].checked = true; }" />&nbsp;&nbsp;
		<input type="button" name="cancelall" value="全部取消" class="button" onclick="for (var i=0;i<this.form.elements.length;i++){ this.form.elements[i].checked = false; }" />&nbsp;&nbsp;
		<button type="button" name="act_remove" class="button" onclick="if(confirm('确实要删除选中消息么？')) this.form.submit();">批量删除</button>
		<!-- &nbsp;&nbsp;<button type="button" name="act_clear" class="button" id="act_clear" onclick="if(confirm('确实要清空全部消息么？')) Ajax.Tip('{?$jieqi_url?}/message.php?box={?$box?}&act=clear{?$jieqi_token_url?}', {method: 'POST'});">全部清空</button> -->
		<input type="hidden" name="act" value="delete">
		{?$jieqi_token_input?}
	</td>
  </tr>
</table>
</form>
<div class="pages">{?$url_jumppage?}</div>

