{?set jieqi_blocks_module = "pay"?}
{?set jieqi_blocks_config = "payblocks"?}
{?set $jieqi_pagetitle = "在线充值说明-{$jieqi_sitename}"?}

{?block bid="0" blockname="充值导航" module="pay" filename="" classname="BlockSystemCustom" side="-1" title="" vars="" template="block_paylist_tab.html" contenttype="4" custom="1" publish="3" hasvars="0"?}

<table class="grid" width="100%" align="center">
  <caption>充值说明</caption>
  <tr>
    <td>
	<ul class="ulrow">
		<li>1、网上银行充值，默认兑换比例：1元=100{?$egoldname?}。</li>
		<li>2、其它方式充值，兑换比例以实际提示选项为主。</li>
		<li>3、银行及邮局汇款，最少额度为20元人民币。</li>
	</ul>
  </tr>
</table>
