<form name="frmsearch" method="get" action="{?$url_salestat?}">
<table class="grid" width="100%" align="center">
    <tr>
      <td>关键字：
            <input name="keyword" type="text" id="keyword" class="text" size="15" maxlength="50"> 
            <label class="radio"><input type="radio" name="keytype" value="0" checked="checked">书名</label>
            <label class="radio"><input type="radio" name="keytype" value="1">作者</label> 
			&nbsp;&nbsp;
            <button type="submit" name="btnsearch" class="button">搜 索</button>
        &nbsp;&nbsp;&nbsp;</td>
    </tr>
</table>
</form>
<table class="grid" width="100%" align="center">
<caption>
<a href="{?$obook_dynamic_url?}/admin/salestat.php">显示全部</a>
{?if $jieqisites|count > 0?}
 | <a href="{?$obook_dynamic_url?}/admin/salestat.php?siteid=0">本站原创</a>
{?section name=i loop=$jieqisites?} | <a href="{?$obook_dynamic_url?}/admin/salestat.php?siteid={?$i['key']?}">{?$jieqisites[i].name?}</a>{?/section?}
{?/if?}
</caption>
  <tr align="center">
    <td width="15%" class="head">电子书名称</td>
    <td width="10%" class="head">作者</td>
	<td width="8%" class="head">收款银行</td>
	<td width="10%" class="head">银行地区</td>
	<td width="10%" class="head">收款账号</td>
	<td width="8%" class="head">收款人</td>
    <td width="8%" class="head">来源站</td>
    <td width="8%" class="head">总收入</td>
	<td width="8%" class="head">待结算</td>
    <td width="5%" class="head">状态</td>
    <td width="10%" class="head">操作</td>
  </tr>
  <tbody id="jieqi_page_contents">
  {?section name=i loop=$obookrows?}
  <tr>
    <td><a href="{?function jieqi_geturl:'article':'article':$obookrows[i].articleid:'info'?}" target="_blank">{?$obookrows[i].obookname?}</a></td>
    <td>{?if $obookrows[i].authorid == 0?}{?$obookrows[i].author?}{?else?}<a href="{?function jieqi_geturl:'system':'user':$obookrows[i].authorid?}" target="_blank">{?$obookrows[i].author?}</a>{?/if?}</td>
	<td align="center">{?$obookrows[i].banktype?}</td>
	<td align="center">{?$obookrows[i].bankname?}</td>
	<td align="center">{?$obookrows[i].bankcard?}</td>
	<td align="center">{?$obookrows[i].bankuser?}</td>
    <td align="center">{?$obookrows[i].sitename?}</td>
    <td align="center">{?$obookrows[i].sumemoney?}</td>
    <td align="center">{?$obookrows[i].remainemoney?}</td>
    <td align="center">{?$obookrows[i].display?}</td>
    <td align="center"><a href="{?$obook_dynamic_url?}/admin/chapterstat.php?oid={?$obookrows[i].obookid?}">章节订阅</a> | <a href="{?$obook_dynamic_url?}/admin/paidnew.php?oid={?$obookrows[i].obookid?}">结算</a></td>
  </tr>
  {?/section?}
  </tbody>
</table>
<div class="pages">{?$url_jumppage?}</div>