<ul class="ulnav">
  <li><i class="iconfont">&#xee3d;</i><a href="{?$jieqi_modules['pay']['url']?}/buyegold.php?t=alipaypay"{?if $_request['t'] == 'alipaypay'?} class="selected"{?/if?}>支付宝充值</a></li>
  <li><i class="iconfont">&#xee3d;</i><a href="{?$jieqi_modules['pay']['url']?}/buyegold.php?t=yeepaypay"{?if $_request['t'] == 'yeepaypay'?} class="selected"{?/if?}>网上银行充值</a></li>
  <li><i class="iconfont">&#xee3d;</i><a href="{?$jieqi_modules['pay']['url']?}/buyegold.php?t=yeemobilepay"{?if $_request['t'] == 'yeemobilepay'?} class="selected"{?/if?}>手机充值卡充值</a></li>
  <li><i class="iconfont">&#xee3d;</i><a href="{?$jieqi_modules['pay']['url']?}/buyegold.php?t=yeegamepay"{?if $_request['t'] == 'yeegamepay'?} class="selected"{?/if?}>游戏点卡充值</a></li>
  <li><i class="iconfont">&#xee3d;</i><a href="{?$jieqi_modules['pay']['url']?}/buyegold.php?t=remitpay"{?if $_request['t'] == 'remitpay'?} class="selected"{?/if?}>人工汇款充值</a></li>
</ul>