<ul class="ulnav">
<li><i class="iconfont">&#xee36;</i><a href="{?$jieqi_url?}/message.php?box=inbox"{?if $box == 'inbox'?} class="selected"{?/if?}>收件箱</a></li>
<li><i class="iconfont">&#xee37;</i><a href="{?$jieqi_url?}/message.php?box=outbox"{?if $box == 'outbox'?} class="selected"{?/if?}>发件箱</a></li>
<li><i class="iconfont">&#xee38;</i><a href="{?$jieqi_url?}/newmessage.php"{?if $jieqi_thisfile|basename == 'newmessage.php' && $_request['tosys'] == 0?} class="selected"{?/if?}>写新消息</a></li>
<li><i class="iconfont">&#xee39;</i><a href="{?$jieqi_url?}/newmessage.php?tosys=1"{?if $jieqi_thisfile|basename == 'newmessage.php' && $_request['tosys'] == 1?} class="selected"{?/if?}>写给管理员</a></li>
</ul>